<%- column_div :type => :primary do -%>
  
  <h2>This will be the company name</h2>

<%- end -%>

<%- column_div :type => :secondary do -%>
  
  Here will go info to help you trade the company

<%- end -%>