<%- column_div :type => :primary do -%>
  
  <h2>This is the list of currently active companies:</h2>

  <%- for company in @companies %>
    <%= link_to company.name, :action => 'show', :id => company.id %><BR>
  <%- end -%>

  <%= link_to 'Create New Company', :action => 'new' %><br />
  <%= link_to 'Create New Catagory', :controller => 'catagory', :action => 'new' %><br />
<%- end -%>

<%- column_div :type => :secondary do -%>
  


<%- end -%>